@* @page "/" *@
@* @using ExpenseTracker.Components.Layout *@
@* @layout FirstLayout *@

@* <section class="min-vh-100 d-flex justify-content-center align-items-center" style="background: linear-gradient(135deg, #4caf50, #81c784);"> *@
@*     <!-- Buttons for Login and Register --> *@
@*     <div class="d-grid gap-4 text-center"> *@
@*         <a href="/login" class="btn btn-success btn-lg" style="font-size: 1.5rem; font-weight: 700; padding: 15px 30px; border-radius: 10px;">Login</a> *@
@*         <a href="/register" class="btn btn-outline-light btn-lg" style="font-size: 1.5rem; font-weight: 700; padding: 15px 30px; border-radius: 10px;">Register</a> *@
@*     </div> *@
@* </section> *@

@* @code { *@
@* } *@